{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css\styles.css' %} ">
</head>
<body>
  
  <header>
    <img src="{% static 'media\mlogo.png' %}" height="100px">
  </header>
  <div class="dashboard">
    <div class="top-row">
      <a href="/order" class="btn">Order</a>
      <a href="/queue" class="btn">Queue</a>
    </div>
    <div class="bottom-row">
      <!--<a href="/pricebook" class="btn">Pricebook</a>-->
      <a href="/history" class="btn">History</a>
      <a href="/admin" class="btn">Inventory</a>
    </div>

    <script>
      window.onload = function(){
        deleteAll();
        
        };

        function deleteAll(callback){
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/delete-all/');
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
          // Send the request to the server
          xhr.send();
          xhr.addEventListener('load', function() {
              // Call the callback function
              if (callback) {
                  callback();
              }
          });



    </script>

  </div>
</body>
</html>
